@import "../../styles.css";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--text-gray);
}

input[type="text"] {
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

button {
    padding: 8px 16px;
    background-color: var(--primary-blue);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--primary-purple);
}