:root {
    --bg--color: #121212;
    --form--bg-color: #1e1e1e;
    --text--color: #ffffff;
    --gold: #ffd700;
    --hover--gold: #e0c341;
    --input--bg--color: #333;
    --border--color: #ffd700;
    --error--color: #ff4500;
}


body {
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg--color);
    color: var(--text--color);
    margin: 0;

}

.Login-Form {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--form--bg-color);
    padding: 21px;
    box-shadow: 0 0 15px rgba(255, 215. 0. 0.6);
    border-radius: 10px;
    width: 325px;
    text-align: center;
    border: 1px solid var(--border--color);
}

input {
    width: 90%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid var(--border--color);
    border-radius: 6px;
    background-color: var(--input--bg--color);
    color: var(--text--color);
    text-align: center;
}

button {
    width: 96%;
    padding: 10px;
    background-color: var(--gold);
    border: none;
    border-radius: 6px;
    color: var(--bg--color);
    font-size: 16.5px;
    transition: background-color 0.4s;
    cursor: pointer;
}

input::placeholder {
    color: var(--gold);
}

button:hover {
    background-color: var(--hover--gold);
}

#Error-Message {
    color: var(--error--color);
    margin-top: 10px;
}